name: Deploy to Vercel

on:
  push:
    tags:
      - 'v*.*.*'

## for right now we deploy on every push to main
#on: [push]

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    # run on gitea only
    if: ${{ github.server_url != 'https://github.com' }}

    steps:
      - uses: actions/checkout@v4

      - name: Cache target (deployment)
        uses: actions/cache@v4
        with:
          key: wasm-deploy-${{ github.event.repository.name }}-ubuntu-latest-stable-host-${{ steps.cache-key.outputs.deployment }}-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          path: |
            target
          restore-keys: |
            wasm-deploy-${{ github.event.repository.name }}-ubuntu-latest-stable-host-${{ steps.cache-key.outputs.deployment }}-
            wasm-deploy-${{ github.event.repository.name }}-ubuntu-latest-stable-host-

      - name: Build all examples
        run: build/build_all_examples.sh

      - name: Vercel build
        run: |
            cd demo_site
            vercel build -y --token ${{ secrets.VERCEL_TOKEN }}
            vercel --prebuilt --token ${{ secrets.VERCEL_TOKEN }}